<div ng-controller="VideoCtrl">
	<div class="container">
		<div class="row">
			<h4 class="center">Reserve your bowl online in advance. Become a member and save $$!</h4> 
			   <div class="row">
			   	<ul class="falist">
			      <div class="col-md-4 elements">
				       <li><img class="button-effects" src="assets/images/single.png">
				        <h2>Just You</h2>
				          <a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Order Now</a></li> 
			      </div>
			       <div class="col-md-4 elements">
			          <li><img class="button-effects" src="assets/images/4-person.png">
			          <h2>You + Your Crew (10+)</h2>
			          	<a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Trial Run</a>
			          </li>
			      </div>
			      <div class="col-md-4 elements">
			      	<li>
			        	<img class="button-effects" src="assets/images/custom.png">
			        	<h2>DIY // Custom</h2>
			        	<a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Contact Us </a>
			        </li>
			      
			      </div>
			     </ul>          
			    </div><!--end row-->
					
				</ul>
			</div>
		</div>
	</div>
</div>




